.dot {
    width: 35px;
    height: 35px;
    position: relative;
    background: url(../assets/flower.png);
    background-size: 100% 100%;
}

.dot2 {
    width: 35px;
    height: 35px;
    position: relative;
    background: url(../assets/flower1.png);
    background-size: 100% 100%;
}

.dot3 {
    width: 35px;
    height: 35px;
    position: relative;
    background: url(../assets/flower2.png);
    background-size: 100% 100%;
}

.flowers {
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden
}

